  <h2>ユーザー</h2>
  <%= image_tag customer.get_profile_image(100,100) %>
  <table class="table">
    <tr>
      <th>名前</th>
      <td><%= customer.name %></td>
    </tr>
    <tr>
      <th>自己紹介</th>
      <td><%= customer.introduction %></td>
    </tr>
  </table>
<div class="row">
  <% if customer.id == current_customer.id %>
    <%= link_to edit_public_customer_path(customer.id),class: "btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-user-cog"></i>
    <% end %>
  <% end %>
</div>